html, body {
    margin: 0;
    padding: 0;
    background-color: #141414;
    display: flex;
    color: white;
    font-family: monospace; 
   
    
  }
  
.contenedor-principal{
 
  display: flex;
  justify-content: center;
  
}
  main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
  }

  .texto{
    
    position: absolute;
    top: 20%;
    right: 100px;
    background-color: #ffffff;
    color: black;
    
  }

  .texto-botones{
    
    display: flex;
  }

  h1{
    align-self: center;
  }
  h3{
    
    align-self: center;
  }
  .p5Canvas{
    background-color: #fafafa;
    padding: 20px;
   
  }
  
  .poema {
    background-color:#0004E0;
    width: 200px;
    height: 100vh;
    overflow: scroll;
  }

  .poema2 {
    background-color:#0b770d;
    width: 200px;
    height: 75vh;
    overflow: scroll;
  }

  .poema3 {
    color: black;
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 100px;
    overflow: scroll;
    margin-left: 10px;
  }

ul{
  color: white;
  list-style: none;
  display: flex;
  gap: 10PX;
  }

  a {
    color: white;
    
  }

  #container {
    display: none;
    border: 1px solid #000;
    padding: 20px;
    position: fixed;
    background-color: #131313;
    margin: 20px;
    z-index: 5;
}
#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: rgb(74, 167, 108);
    color: white;
    border: none;
    padding: 5px 10px;
}

.gif{
 width: 800px;
}